.container {
  &.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
  }

  &.wood {
    background-image: url("/assets/wood.jpg");
    background-size: cover;
  }

  &.flowers {
    background-image: url("/assets/flowers.jpg");
    background-size: cover;
  }

  &.darken {
    backdrop-filter: brightness(0.5);
  }
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
  max-width: 300px;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  object-fit: cover;
}

h1 {
  &.name {
    letter-spacing: 1px;
    margin-bottom: 0px;
    z-index: 1;
  }

  &.title {
    font-size: 4rem;

    text-align: center;
  }

  &.large-title {
    font-size: 4rem;
    padding: 0 1rem;
    margin-top: 4rem;
  }

  &.girl {
    font-family: "Marck Script", cursive;
  }

  &.man {
    font-family: "Anton", sans-serif;
    margin-top: 5rem;
  }
}

.subtitle {
  margin-top: 5px;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.bio {
  text-overflow: wrap;
  font-size: 1.25rem;
}
