mat-toolbar-row {
  display: flex;
  justify-content: center;
  font-family: "Open Sans Condensed", sans-serif;
  z-index: 100;
  padding: 1rem;
  width: 100%;
  background: white;

  .nav-link {
    font-size: 1.5rem;
  }
}

.sticky {
  position: fixed;
  top: 0;
}

.active {
  border-bottom: 1px solid black;
}

.nav-link {
  cursor: pointer;
  padding: 0 1rem;

  &:focus {
    outline: none;
  }

  &.small {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: x-large;
  }
}

.width-full {
  width: 100%;
}

.full-height {
  height: 93vh;
}

.menu-left {
  background-image: url(/assets/menu-black-18dp.svg);
  width: 100%;
  height: 30px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin: auto;

  &:focus {
    outline: none;
  }
}

.mat-drawer-container {
  height: 100%;
}
