<div class="container">
    <img src="/assets/Amber-Austin-ring.jpg" width="100%">
    <a class="button-link" href="https://www.amazon.com/wedding/austin-fitzpatrick-amber-ventola-clayton-may-2021/registry/1GJTV6XZT86YV">Take me to Amazon.com Wedding Registry</a>
</div>
