.container {
  position: relative;
  text-align: center;
}

.button-link {
  padding: 1rem;
  border: 1px black solid;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-family: 'Alice', sans-serif;
  background-color: white;
}


@media only screen and (max-width: 760px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .button-link {
    margin: 1rem;
  }
}

@media (min-width: 760px) {
  .button-link {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
