.placeholder {
  height: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  margin: 2rem;
  width: auto;
  // color: white;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 20rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 20rem;
}

.search-input {
  margin-bottom: 1rem;
}

.label {
  font-size: x-large;
}

input {
  max-width: 20rem;
  padding: 1rem;
}

.textarea {
  width: 16rem;
  height: 4rem;
}

.background-img {
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  height: 100%;
}

button {
  padding: 1rem;
  border: 1px black solid;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-family: "Alice", sans-serif;
  background-color: white;
  cursor: pointer;

  &.delete {
    padding: 0.5rem;
    color: red;
    line-height: 1rem;
    height: 2rem;
    margin-left: 0.5rem;
    border: none;
  }

  &.delete:hover {
    background: rgb(255, 210, 210);
  }

  &.margin-right {
    margin-right: 1rem;
  }
}

.margin-bottom {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}
