/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
}

section {
  max-width: 1024px;
  margin: auto;
}
