.title {
  margin-top: 1rem;
  font-size: 4rem;
  line-height: 4rem;
  font-family: 'Alice', sans-serif;

}


.subtitle {
  font-size: 2rem;

}

// @media only screen and (max-width: 760px) {
@media (min-width: 760px) {
  .center-block {
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
  }
}



.container {
  position: relative;
  text-align: center;
}

.dark {
  filter: brightness(50%);
}
