<div class="container">
    <img src="/assets/Amber-Austin-main.jpg" width="100%">
    <div class="center-block">
        <h1 class="title">Amber & Austin</h1>
        <h3 class="subtitle">May 15th, 2021 | 5 PM | Clayton, GA</h3>
        <p>{{daysDiff}} days left</p>
    </div>
  </div>
